<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cashbook1.mapper.BoardMapper">
	<!-- 회원 탈퇴시 게시글 삭제 -->
	<delete id="deleteBoardByMember" parameterType="String">
		DELETE FROM 
				cashbook_board
		WHERE member_id = #{memberId}
	</delete>
	<!-- 페이징 카운트 -->
	<select id="boardListCount" resultType="int">
		SELECT
			COUNT(*)
		FROM 
			cashbook_board
	</select>
	<!-- 게시글 제목으로 검색 -->
	<select id="selectSearchBoard" resultType="com.gdu.cashbook1.vo.Board">
		SELECT
			board_no boardNo,
			board_title boardTitle,
			member_id memberId,
			board_date boardDate
		FROM
			cashbook_board
		WHERE board_title like CONCAT('%', #{searchBoard}, '%')
		ORDER BY board_no DESC
	</select>
	<!-- 게시글 수정 -->
	<update id="updateBoard" parameterType="com.gdu.cashbook1.vo.Board">
		UPDATE
			cashbook_board
		SET
			board_title = #{boardTitle},
			board_contents = #{boardContents}
		WHERE board_no = #{boardNo}
	</update>
	<!-- 게시글 삭제 -->
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM 
				cashbook_board
		WHERE board_no = #{boardNo}
	</delete>
	<!-- 게시글 상세페이지 -->
	<select id="selectBoardListOne" parameterType="int" resultType="com.gdu.cashbook1.vo.Board">
		SELECT
			board_title boardTitle,
			member_id memberId,
			board_date boardDate,
			board_contents boardContents,
			board_no boardNo
		FROM 
			cashbook_board
		WHERE
			board_no = #{boardNo}
	</select>
	<!-- 게시글 입력 -->
	<insert id="insertBoard" parameterType="com.gdu.cashbook1.vo.Board">
		INSERT INTO cashbook_board(
			board_title,
			member_id,
			board_contents,
			board_date
		) VALUES(
			#{boardTitle},
			#{memberId},
			#{boardContents},
			NOW()
		)
	</insert>
	<!-- 게시판 리스트 출력 -->
	<select id="selectBoardListALL" parameterType="hashmap" resultType="com.gdu.cashbook1.vo.Board">
		SELECT
			board_no boardNo,
			board_title boardTitle,
			member_id memberId,
			board_date boardDate
		FROM cashbook_board
		ORDER BY board_no DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
</mapper>
