<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cashbook1.mapper.CashMapper">
	<delete id="deleteCashByMember" parameterType="String">
		DELETE FROM cashbook_cash
		WHERE member_id = #{memberId}
	</delete>

	<update id="updateCash" parameterType="com.gdu.cashbook1.vo.Cash">
		UPDATE 
			cashbook_cash
		SET 
			category_name = #{categoryName},
			cash_kind = #{cashKind},
			cash_price = #{cashPrice},
			cash_place = #{cashPlace},
			cash_memo = #{cashMemo}

		WHERE cash_no = #{cashNo}
	</update>
	<select id="selectCashListOne"  parameterType="com.gdu.cashbook1.vo.Cash" resultType="com.gdu.cashbook1.vo.Cash">
		SELECT 
			cash_no cashNo,
			cash_kind cashKind,
			cash_price cashPrice,
			cash_place cashPlace,
			cash_memo cashMemo
		FROM cashbook_cash
		WHERE cash_no = #{cashNo}
	</select>

	<select id="selectDayAndPriceList" parameterType="java.util.Map" resultType="com.gdu.cashbook1.vo.DayAndPrice">
		SELECT DAY(cash_date) as day,
		SUM(CASE WHEN cash_kind = '수입' THEN cash_price
		WHEN cash_kind = '지출' THEN -cash_price END) AS price
		FROM cashbook_cash
		WHERE member_id = #{memberId}
		AND YEAR(cash_date) = #{year}
		AND MONTH(cash_date) = #{month}
		GROUP BY DAY(cash_date)
	</select>
	
	<delete id="deleteCashByDate" parameterType="int">
		DELETE FROM cashbook_cash
		WHERE cash_no = #{cashNo}
	</delete>
	
	<select id="selectCashKindSum" parameterType="com.gdu.cashbook1.vo.Cash" resultType="int">
		SELECT
			(SELECT IFNULL(SUM(cash_price),'0') 
			FROM cashbook_cash
			WHERE member_id = #{memberId} 
			AND cash_kind = '수입'
			AND cash_date = #{cashDate}
			)
			-
			(SELECT IFNULL(SUM(cash_price),'0') 
			FROM cashbook_cash
			WHERE member_id = #{memberId} 
			AND cash_kind = '지출'
			AND cash_date = #{cashDate}
			)
		FROM dual
	</select>

	<insert id="insertCashByDate" parameterType="com.gdu.cashbook1.vo.Cash">
		INSERT INTO cashbook_cash(
			member_id,
			cash_kind,
			category_name,
			cash_price,
			cash_place,
			cash_date,
			cash_memo
		) VALUES (
			#{memberId},
			#{cashKind},
			#{categoryName},
			#{cashPrice},
			#{cashPlace},
			#{cashDate},
			#{cashMemo}
		)	
	</insert>

	<select id="selectCashListByDate" parameterType="com.gdu.cashbook1.vo.Cash" resultType="com.gdu.cashbook1.vo.Cash">
		SELECT 
			cash_no cashNo,
			cash_kind cashKind,
			category_name categoryName,
			cash_price cashPrice,
			cash_place cashPlace,
			cash_memo cashMemo
		FROM cashbook_cash
		WHERE member_id = #{memberId}
		AND cash_date = #{cashDate}
		ORDER BY cash_no ASC
	</select>
</mapper>