<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style type="text/css">
	#wrapper {
		width:500px;
		margin:0 auto;
		border:1px solid #000;
	}
</style>
<script>
let helperInit = function() {
	$("#idHelper").text("");
	$("#pwHelper").text("");
	$("#nameHelper").text("");
	$("#addrHelper").text("");
	$("#phoneHelper").text("");
	$("#emailHelper").text("");
};
$(document).ready(function(){
	$('#btn').click(function(){
		
		if($('#memberId').val().length < 4){
			$('#idHelper').text("id는 4자이상");
			$('#memberId').focus();
		} else if($('#memberPw').val().length < 4) {
			helperInit();
			$('#pwHelper').text("pw는 4자이상");
			$('#memberPw').focus();
		} else if($('#memberPw').val() != $('#memberPw2').val()) {
			helperInit();
			$('#pwHelper').text("pw를 확인해주세요.");
			$('#memberPw2').focus();
		} else if($('#memberName').val().length === 0) {
			helperInit();
			$('#nameHelper').text("이름을 입력하세요");
			$('#memberName').focus();
		} else if($('#memberAddr').val().length === 0) {
			helperInit();
			$('#addrHelper').text("주소를 입력하세요");
			$('#memberAddr').focus();
		} else if($('#memberPhone').val().length === 0) {
			helperInit();
			$('#phoneHelper').text("번호를 입력하세요");
			$('#memberPhone').focus();
		} else {
			$('#myform').submit();
		}
		
	});
});
</script>
</head>
<body>
<div class="container">
	<div align="center">
	<br><br><br><br>
		<h1>회원가입</h1>
		<br><br>
		<form id="myform" method="post" action="/addMember">
			<div align="left" class="col-sm-4 ">
				 아이디 
			</div>
			<div style="padding:5px;">
				<input type="text" name="memberId" id="memberId" class="col-sm-4 "/> 
				<span id="idHelper"></span>
			</div>
			<div align="left" class="col-sm-4 ">
				 비밀번호  
			</div>
			<div style="padding:5px;">
				<input type="password" name="memberPw" id="memberPw" class="col-sm-4" /> 
				<span id="pwHelper"></span>
			</div>
			<div align="left" class="col-sm-4 ">
				 비밀번호확인  
			</div>
			<div style="padding:5px;">
				<input type="password" id="memberPw2" class="col-sm-4" /> 
			</div>
			<div align="left" class="col-sm-4 ">
				 사용자 이름 
			</div>
			<div style="padding:5px;">
				<input type="text" name="memberName" id="memberName" class="col-sm-4" /> 
				<span id="nameHelper"></span>
			</div>
			<div align="left" class="col-sm-4 ">
				 주소 
			</div>
			<div style="padding:5px;">
				<input type="text" name="memberAddr" id="memberAddr" class="col-sm-4" /> 
				<span id="addrHelper"></span>
			</div>
			<div align="left" class="col-sm-4 ">
				 전화번호 
			</div>
			<div style="padding:5px;">
				<input type="text" name="memberPhone" id="memberPhone" class="col-sm-4" /> 
				<span id="phoneHelper"></span>
			</div>
			<div align="left" class="col-sm-4 ">
				 이메일 
			</div>
			<div style="padding:5px;">
				<input type="text" name="memberEmail" id="memberEmail" class="col-sm-4" /> 
				<span id="emailHelper"></span>
			</div>
			<br><br>
			<button type="button" id="btn" class="btn btn-primary col-sm-4 text-white">회원가입</button>
		</form>
	</div>
</div>
</body>
</html>