<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>addMember</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<div align="center">
	<h1>게시판 상세보기</h1>
	<div>
		<a th:href="@{/boardDetail(boardNo=${board.boardNo}-1)}">이전</a> <!-- 첫번째에서 이전누르면 에러뜨는거 수정해야함 -->
		<a th:href="@{/boardDetail(boardNo=${board.boardNo}+1)}">다음</a> <!-- 마지막에서 다음 누르면 에러뜨는거 수정해야됨 -->
	</div> 
	<table class="table">
		<tr>
			<td>제목</td>
			<td th:text="${board.boardTitle}"></td>
		</tr>
		<tr>	
			<td>작성자</td>
			<td th:text="${board.memberId}"></td>
		</tr>
		<tr>
			<td>작성일시</td>
			<td th:text="${board.boardDate}"></td>
		</tr>
		<tr>
			<td>내용</td>
			<td th:text="${board.boardContents}"></td>
		</tr>
	</table>
	<div align="left">
		<a th:href="@{/boardList}">목록</a>
	</div>
</div>
</div>
</body>
</html>