<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>addMember</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<div align="center">
	<h1>게시판 상세보기</h1>
	
	<table class="table">
		<tr>
			<td>제목</td>
			<td th:text="${board.boardTitle}"></td>
		</tr>
		<tr>	
			<td>작성자</td>
			<td th:text="${board.memberId}"></td>
		</tr>
		<tr>
			<td>작성일시</td>
			<td th:text="${board.boardDate}"></td>
		</tr>
		<tr>
			<td>내용</td>
			<td th:text="${board.boardContents}"></td>
		</tr>
	</table>
	<div align="left">
		<a th:href="@{/boardList}">목록</a>
	</div>
	<div align="right">
		<a th:href="@{/modifyBoard(boardNo=${board.boardNo})}">수정</a>
		<a th:href="@{/removeBoard(boardNo=${board.boardNo})}">삭제</a>
	</div>
	<br><br>
	<!-- 댓글 입력 -->
	<form method="post" th:action="@{/addComment(boardNo=${board.boardNo})}">
		<div>
			<input type="text" style="width:800px;" name="commentContents" placeholder="댓글 입력"/>
			<button type="submit">댓글 입력</button>
		</div>
	</form>
	<!-- 댓글 리스트 -->
	<table class="table">
		<tr th:each="list : ${list}">
			<td th:text="${list.memberId}"></td>
			<td th:text="${list.commentContents}"></td>
			<td th:text="${list.commentDate}"></td>
			<td><a id="mCommentHelper" th:href="@{/modifyComment(commentNo=${list.commentNo},boardNo=${list.boardNo})}">수정</a></td>
			<td><a id="mCommentHelper" th:href="@{/removeComment(commentNo=${list.commentNo},boardNo=${list.boardNo})}">삭제</a></td>
		</tr>
	</table>
</div>
</div>
</body>
</html>