<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<!-- fragment1 /indclude/menu::sidemenu -->
	<div th:fragment="sidemenu">
		<!--  <div>
			<img th:src="@{/upload/ + ${session.loginMember.memberPic}}" class="rounded-circle" >
		</div>
		-->
		<div>
			<span th:text="${session.loginMember.memberId}"></span>님
		</div>
		<ul class="navbar-nav" th:if="${session.loginMember.memberLevel} == 1">
			<li class="nav-item"><a class="nav-link" th:href="@{/adminHome}" style="padding-left: 5px">홈</a></li>
			<br>
			<li class="nav-item"><a class="nav-link" th:href="@{/memberList}" style="padding-left: 5px">회원리스트</a></li>
			<br>
			<li class="nav-item"><a class="nav-link" th:href="@{/getCashListByDate}" style="padding-left: 5px">일별 가계부</a></li>
			<br>
			<li class="nav-item"><a class="nav-link" th:href="@{/getCashListByMonth}" style="padding-left: 5px">월별 가계부</a></li>
			<br>
			<li class="nav-item"><a class="nav-link" th:href="@{/boardList}" style="padding-left: 5px">게시판</a></li>
			<br>
			<li class="nav-item"><a class="nav-link" th:href="@{/addCategory}" style="padding-left: 5px">카테고리 추가</a></li>
			<br>
			<li class="nav-item"><a class="nav-link" th:href="@{/logout}" style="padding-left: 5px">로그아웃</a></li>
		</ul>
		
		<ul class="navbar-nav" th:if="${session.loginMember.memberLevel} == 2">
			<li class="nav-item"><a class="nav-link" th:href="@{/home}" style="padding-left: 5px">홈</a></li>
			<br>
			<li class="nav-item"><a class="nav-link" th:href="@{/memberInfo}" style="padding-left: 5px">회원정보</a></li>
			<br>
			<li class="nav-item"><a class="nav-link" th:href="@{/getCashListByDate}" style="padding-left: 5px">일별 가계부</a></li>
			<br>
			<li class="nav-item"><a class="nav-link" th:href="@{/getCashListByMonth}" style="padding-left: 5px">월별 가계부</a></li>
			<br>
			<li class="nav-item"><a class="nav-link" th:href="@{/boardList}" style="padding-left: 5px">게시판</a></li>
			<br>
			<li class="nav-item"><a class="nav-link" th:href="@{/logout}" style="padding-left: 5px">로그아웃</a></li>
		</ul>
	</div>
	
	<!-- fragment2 -->
	
	<!-- fragment3 -->
	
	<!-- fragment4 -->
</body>
</html>